.container{
    font-family: sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar{
    text-align: center;
    padding: 20px 0;
}
.navbar li{
    display:inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.navbar li a {
    text-decoration: none;
    color: #FF0000;
    margin: 0 36px;
}
img{
    width: 100%;
   }

.content{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.content-title{
    margin-bottom: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #373737;
}
.content-text{
    margin-bottom: 28px;
    margin-left: 67px;
    margin-right: 67px;

    font-size: 16px;
    line-height: 26px;

    letter-spacing: 2.4px;

    color: #373737;
}

.btn{
    margin-top: 66px;
    width: 191px;
    height: 51px;
    color: #FFFFFF;
    background: #FF0000;
    border: 0;
    border-radius: 4px;

    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 42px;
    padding-right: 42px;
}

.footer-wrapper{
    margin-bottom: 29px;

}
.footer-text{
    text-align: right;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 67px;
}

