body{
    background: black;
    overflow: hidden;

}
.animated-text{
    text-align: justify;
    color: goldenrod;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 90px;
}
.animated-title{
    text-transform: uppercase;
    text-align: center;
}
.star-wars{
    top:100px;
    position: relative;
    display: flex;
    justify-content: center;

    height: 800px;
    perspective: 400px;
    overflow: hidden;
}
.animated-container{
    position: relative;
    width: 1600px;

    animation: move 30s infinite linear;
}

@keyframes move {
    from {
        top:700px;
        transform: rotateX(30deg)  translateZ(0);
    }
    to {
        top: -5000px;
        transform: rotateX(35deg)  translateZ(-3500px);
    }
}