body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/look15.png");
    background-size: cover;
}
.wrapper{
    max-width: 1030px;
    margin: 46px auto 0 auto;

    font-family: 'Roboto', sans-serif;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.link-item{
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}


.logo:hover .logo-text{
    color: #F26522;
}

.logo:hover .logo-image{
    content: url("../img/logo 2.png");
}

.text-milan{
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    margin: 0 0 0 8px;



}
.text-holidays{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: block;
    text-align: right;

    color: #FFFFFF;

    margin-top: 5px;
}
.contacts{
    text-align: right;
    display: flex;
    flex-direction: column ;
}
.contact-item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;


}
.contacts-email{
    margin-bottom: 19px;
}
.contact-item:hover{
    color: #F26522;
}


.content-wrapper{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-item{
    margin-bottom: 37px;
    width: 300px;
    overflow: hidden;

    position: relative;

}
.content-items-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;

    margin-top: 20px;
    text-align: center;
}

.content-item-hover{
    background:  #F26522;

    padding: 7px 14px 12px 16px ;
    box-sizing: border-box;
    display: none;

    position: absolute;
    width: 300px;
    height: 55px;
    bottom: 40px;
    left: 0;
}
.price-text-from{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;
}

.price-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;

    padding-top: 8px;
}

.text-details{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;

    padding-top: 22px;
}
.text-details::after{
    content: "\276D";
    padding-left: 16px;
}
.content-item-element{
    display: block;

}
.content-item:hover .content-item-hover{
    display: flex;
    justify-content: space-between;
    z-index: 1;

}

.content-item:hover .content-items-text{
    color: #F26522;
}

.content-items-text:hover{
    color: #F26522;
}


    /*FOOTER*/

.footer-wrapper{
    padding: 12px 0 15px 0;
}
.footer-text{
    text-align: center;


    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}




