body{
    background: url("../img/Фон 1.png");
    background-size: cover;
}


        /*HEADER*/

.header-container{
    display: flex;
    justify-content: space-around;

    background: rgba(0, 0, 0, 0.4);
    padding: 18px 0;
}
.header-log{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;

    align-self: center;
}

.header-log:hover{
    color: #01813F;
}

.header-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-welcome{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 25px;
}

.header-welcome-link{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.header-welcome-link:hover{
    color: #01813F;
}

.icon-svg{
    fill: white;
}
.link-svg{
    margin-right:25px;
}

.icon-svg:hover{
    fill: #01813F;
 }
.header-icons:after{
    content:"";
    border-right: 1px solid  rgba(255, 255, 255, 0.9);
    height: 19px;
    mix-blend-mode: normal;
    opacity: 0.5;

    vertical-align: super;
}

.link-item{
    text-decoration: none;
}

        /*MAIN*/

.main-container{
    display:flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 63px);

}

.sign-up-container{
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);

    padding: 31px 60px 38px 60px;
    width: 444px;
    box-sizing: border-box;


    position: relative;
}

.sign-up-log-in{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}
.sign-up-log-in:before{
    content: "";
    width: 18px;
    height: 18px;

    background: #3CB878;

    position: absolute;
    left:0;

}

.sign-up-title{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #434343;
}

.log-in-text{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #3CB878;
}

.log-in-text:hover{
    color: #01813F;
    text-decoration: underline;
}

.social-networks{
    display: flex;
    justify-content: space-between;
}

.network-button{
    border-radius: 4px;
    border:none;
    width: 160px;
    height: 48px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
    position: relative;
}

.network-button:hover{
    background: #022263;
}

.facebook-button{
    background: #305DB8;

}

.f-image:after{
    content: "";
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    height: 28px;
    margin-left: 18px;

    vertical-align: super;

    position: absolute;
    top: 10px;
}

.g-image:after{
    content: "";
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    height: 28px;
    margin-left: 7px;

    vertical-align: super;

    position: absolute;
    top: 10px;
}

.networks-text{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;

    vertical-align: middle;
}

.google-button{
    background: #DF4A32;
}

.or-text{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #848484;

    text-align: center;

    position: relative;

    margin: 31px 0 11px 0;
}

.or-text:before{
    content:"";
    border-top: 1px solid #F2F2F2;;

    position: absolute;
    left:0;
    top:50%;
    width:152px;
}

.or-text:after{
    content:"";
    border-top: 1px solid #F2F2F2;

    position: absolute;
    right:0;
    top:50%;
    width:152px;
}


        /*FORM*/


.input-item{
    display: block;
    width: 100%;
    box-sizing: border-box;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    padding:15px 0 15px 20px;
    margin-bottom: 15px;

    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;

}

.input-item::placeholder{
    color: #BEBEBE;
}

.input-item:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);

}

:focus::-webkit-input-placeholder {
    color: transparent;
}


.checkbox{
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #434343;

}

.terms-link{
    color: #3CB878;
}

.terms-link:hover{
    color: #01813F;
    text-decoration: underline;
}

.submit-button{
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 100%;
    height: 46px;
    border:none;
    color: #FFFFFF;

    margin-top:20px;
}

.submit-button:hover{
    background: #01813F;
}