.wrapper {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 7, 1);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  background-color: lightcoral;
  width: 500px;
  height: 250px;
  text-align: center;
  border-radius: 5px;


  &__body {
    color: white;
    text-align: center;
  }
  &__buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  &__button{
    background-color: bisque;
    border-radius: 10px;
    border: none;
    color: cornflowerblue;
    width: 120px;
    height: 25px;
    cursor: pointer;
  }
}

.modal-window > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 5px;
}

header > p {
  background-color: cornflowerblue;
  cursor: pointer;
}

.modal-window__button{
  //margin-left: 40px;
  //width: 60px;
  //height: 25px;
  //background-color: crimson;
  //border: none;
  //color: white;
  //cursor: pointer;
}



