.card {
  width: 400px;
  height: 600px;
  text-align: center;
  font-family: "Kristen ITC";
  margin-bottom: 40px;

  &__img {
    cursor: pointer;
    fill: grey;
  }

  &__img-fav {
    cursor: pointer;
    fill: #ffc107;
  }

}
