.button-first, .button-second{
  background-color: darkslateblue;
  color: floralwhite;
  border-radius: 5px;
  border:none;
  height:30px;
  width:300px;
  cursor:pointer;
}

.button-second{
  background-color: coral;
}