.container{
    margin:61px auto 0 auto;
    max-width: 1280px;
    width:100%;
    box-sizing:border-box;
}


.link-Ramda{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0;
    line-height: 94px;

    display: inline-block;
    box-sizing:border-box;
}
.mda{
    font-size: 80px;
    color:#00ACFF
}
.Ra{
    font-size: 80px;
    color: #000000;
}

.navbar{
    display: flex;
    justify-content: center;

    list-style-type:none;
    background: #35444F;


}
.navbar-item {
    border-left: white 1px solid;
    box-sizing: border-box;

    padding: 20px 40px;
}



.navbar-item-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    text-decoration: none;
    color: #FFFFFF;
}


.navbar-item:hover{
    background-color: #000000;
}

.main-container{
    display: flex;
    margin-top: 50px;
}

.menu{
    list-style-type:none;

    width:344px;

    border: black 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;

    box-sizing:border-box;
    margin-right: 52px;

}
.menu-item{

    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
}
.menu-item-link{
    text-decoration: none;
    color: #495863;
}
.menu-item:hover{
    background-color: #DBDBDB;
    font-weight: bold;
    color: #35444F;
    padding-left: 76px;
}

.content{
    width:885px;

}
.main-image{
    border: 1px solid #000000;
    padding: 120px 40px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom:37px ;
}

.img-aries:hover{
    transform: scale(1.2);
    transition: 1s;
}
.content-text{
    padding-bottom: 34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.footer-menu{
    list-style-type:none;

    display: flex;
    box-sizing: border-box;
}

.footer-item{
    padding: 20px 20px;
}
.footer-item-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
}

.Copyright-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    font-size: 24px;
    line-height: 24px;
}

.footer-item-link:hover{
    color: cornflowerblue;
    text-decoration: underline;
}




