Form {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

button {
  background-color: darkslateblue;
  color: floralwhite;
  border-radius: 5px;
  border: none;
  height: 20px;
  width: 150px;
  cursor: pointer;
}

.error{
  position: absolute;
  color: red;
}