.button-first, .button-second{
  background-color: greenyellow;
  color: floralwhite;
  margin-top: 150px;
  margin-left: 150px;
  border-radius: 5px;
  border:none;
  height:30px;
  width:300px;
  cursor:pointer;
}

.button-second{
  background-color: coral;
}