.main{
  padding: 0 28px 0 28px;
  margin-top: 60px;

  @media all and(min-width: 768px) {
    margin-top:43px;
    padding: 0 80px 0 80px;
  }
  @media all and(min-width: 1200px) {
    margin-top: 51px;
    margin-bottom: 69px;
  }
}

.main__img{
  width: 100%;
  height: auto;
}

.main__posts{
  margin-top:38px;
}

.recent-posts__title{
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;

  color: $title-color;
  font-family: $main-font;

  margin-bottom: 23px;
}

.post__title{
  color: $title-color;
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}

.post__description{
  font-family: $main-font;
  font-size: 11px;
  line-height: 20px;

  color: #7C7C7C;
}

.post__text{
  display:none;
  @media all and(min-width: 768px) {
    display:block;
    font-family: $main-font;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
}

.post{
  margin-bottom:32px;
  display: block;

  @media all and(min-width: 768px) {
    @include flexible;
  }
  @media all and(min-width: 1200px) {
    width:510px
  }
}

.link-decoration{
  text-decoration: none;
}

@media all and(min-width: 768px) {
  .post__content{
    margin-left: 21px;
  }
}

@media all and(min-width: 1200px) {
  .recent-posts__wrapper{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }

  .wrapper{
    max-width:1170px;
    margin-left: auto;
    margin-right: auto;
  }

}