.footer{
  padding: 38px 28px 47px 28px;
  text-align:center;
  background: #000000;

  @media all and (min-width: 768px){
    padding: 38px 120px 47px 120px;
  }
}

.footer__title{
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  text-transform: uppercase;
  color: #FEFEFE;
  margin-bottom: 8px;
}

.footer__text{
  font-family: $main-font;
  font-size: 12px;
  line-height: 20px;

  color: #B9B9B9;
  margin-bottom: 26px;
}

.footer__contacts{
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;

  color: #B9B9B9;
  margin-top: 25px;
}

.footer-icons__icon{
  cursor: pointer;
}


