.header{
  padding: 23px 28px 0 0;
  @media all and (min-width: 768px) {
    padding: 23px 80px 0 80px;
  }
}
.header__menu{
  position:relative;
}

.menu__list{
  position:absolute;
  right:0;
  top:37px;

  list-style-type: none;
  background: #F5F5F5;
  width: 182px;

  box-sizing: border-box;
  z-index: 1;

  display:none;

  @media all and (min-width: 768px) {
    @include flexible ;
    justify-content: center;
    position: static;
    width: 100%;
    background: none;
  }
}

.menu__item-link{
  color: $title-color;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 22px;

  padding-left:14px;
  &:hover{
    color:#57A4A4;
  }
}

.menu__item:hover{
  background: #E5E5E5;
  @media all and (min-width: 768px){
    background: none;
  }
}

.menu__btn{
  position:absolute;
  right:0;
  top:0;

  width: 44px;
  height: 37px;
  background: #000000;
  cursor:pointer;
}

.menu-btn__hide{
  position:absolute;
  right:0;
  top:0;
  display:none;
  cursor:pointer;
}

@media all and (min-width: 768px) {
  .menu__button-wrapper{
    display:none;
  }
  .menu__item{
    padding-right: 20px;
  }
}







