.modal-window{
  background-color: darkred;
  width: 500px;
  height: 250px;
  text-align: center;
  margin-top:10%;
  margin-left:20%;

  &__body{
    color:white;
    text-align: center;
  }
}

.modal-window >header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  padding: 10px 20px 10px 20px;
  color:white;
}

.modal-window>p{
  background-color: crimson;
  cursor:pointer;
}

.modal-window>button{
  margin-left: 20px;
  width: 60px;
  height:25px;
  background-color: crimson;
  border:none;
  color:white;
  cursor:pointer;
}



