.header__menu{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #8D81AC;
  padding: 10px 0 10px 0;
}

.header-menu__item{
  color: #FFFFFF;
  text-decoration: none;
}

