.wrapper{
    width: 1180px;

    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

                /*NEW-MENU*/
.new-menu{
    font-family: 'Open Sans', sans-serif;
    background: #5B6469;
    display:flex;
    justify-content: center ;
    list-style-type:none;
}

.new-menu-item{
    padding: 27px 10px;
}
.new-menu-item-link{
    text-decoration: none;
    text-transform:uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;

}

.navbar{
    background: #313131;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    padding: 22px 27px;
    display: flex;
}

.main-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;

    margin-left: 27px;

}
.link-decoration{
    text-decoration: none;
}

.menu{
    display:flex;
    box-sizing: border-box;

    justify-content: space-around ;

    list-style-type:none;
}
.menu-item{
    text-transform:uppercase;
    padding: 27px 17px;
    }
.menu-item-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    }

.menu-item-link:hover{
    color: #14B9D5;
}

.search{
    padding: 27px 26px;
    background: #000000;;
}

.latest-news{
    background-image: url("../img/programming-essentials_basic-html-css_homework_homework4-Design-and-architecture_img_header-bg.jpeg");
    background-size: cover;
    padding:164px 0 74px 0 ;
}
.latest-news-title{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.buttons-wrapper{
    display: flex;
    justify-content: center;
    margin-top:44px ;
}
.button{
    padding: 16px 19px;
    width: 170px;
    border: 0;
    border-radius: 4px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.button-subscribe{
    background: #89CA62;
    margin-right: 20px;
}

.button-best{
    background:  #14B9D5;
}

.most-popular-posts-wrapper{
    padding: 49px 0 72px 0;
    background: #F2F2F2;
   }
.most-popular-posts-title{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;

    margin-bottom: 52px;
    text-transform: uppercase;
}
.most-popular-posts{
    height: 860px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: space-between;
}

.most-popular-posts-item{
    align-self: flex-start;

    background: #FFFFFF;
}
.most-popular-posts-top{
    margin-bottom: 31px;
}

.link{
    text-decoration: none;
}
.post-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
  }

.clients-wrapper{
    padding: 106px 0 191px 0;
    background-image: url("../img/programming-essentials_basic-html-css_homework_homework4-Design-and-architecture_img_parallax-bg.jpeg");
    background-size: cover;
    text-align: center;
}
.clients-wrapper-title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;

    text-transform: uppercase;
}
.clients-wrapper-title:after{
    content: "";
    border-bottom: 3px #18B4CF solid;
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
}


.clients-wrapper-items{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 106px;
}

.top-rated{
    padding-top: 49px;
}
.top-rated-items{
    display: grid;
    grid-auto-flow: column;

    }
.top-rated-title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;

    text-align: center;
    margin-bottom: 52px;
}
.top-rated-img{
    width: 100%;
}

.hot-news{
    padding: 48px 0 71px 0;
}
.hot-news-title{
    text-align: center;
    margin-bottom: 51px;

    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
}
.hot-news-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    grid-column-gap: 35px;
    grid-row-gap: 44px;
}

.hot-news-item{
    background: #F9F7F7;


}

.left-2-3{
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


}
.hot-news-items-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;

    text-align: right;
    padding: 12px 14px 14px 0;
}
.hot-news-items-text{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    text-align: right;
    padding: 5px 14px 5px 13px;
    line-height: 21px;

    color: #5B6469;

}


.half-left{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;

}
.half-right{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: right;
}

.right-2-3{
    grid-column-start: 2;
    grid-column-end: 5;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.corner-item{
    display: grid;
}
.half-img{
    width:100%
}
.footer-wrapper{
    background-color:  #000000;


}
.footer-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;


    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-text{

    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    color: #FFFFFF;
}
.footer-images{
    display: grid;
    grid-auto-flow: column;
}


        /*light-theme*/

.change-theme-btn{
    position: absolute;
    right: 150px;

    width: 128px;
    height: 48px;
    border-radius: 5px;
    background:  #14B9D5;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
}

.light-theme-navbar{
    background: lightgrey;
}

.light-theme-button-best{
    background: mediumpurple;
}


.light-theme-button-subscribe{
    background: pink;
}


/*Кнопка Наверх*/

#button {
    display: inline-block;
    background-color: mediumpurple;
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;

    visibility: hidden;

    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding-top: 5px ;

}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}

#slide-btn{
    width: 128px;
    height: 48px;
    cursor: pointer;
    background-color: mediumpurple;
    color: #FFFFFF;
    border-radius: 4px;
    outline: none;
    border: none;
}

.button-wrapper{
    background: #F2F2F2;
    text-align: center;
    padding: 5px 0;
}


